<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
</head>
<body style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100lvh;">
    <h1>404 Not Found</h1>
    <h3><a href="/">Home?</a></h3>
</body>
</html>