<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Message</title>
</head>
<body>
    <h1>Create Message</h1>
    <form action="/create-message" method="post">
        <div>
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
        </div>
        <div>
            <label for="message">Message</label><br>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
        </div>
        <button type="submit">Create</button>
    </form>
</body>
</html>